.center-box {
    width: 300px;
    height: 300px;
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    border-radius: 8px;
    border: 2px solid black;
}

#outer-box {
    width: 900px;
}

#inner-box {
    display: flex;
    background-color: teal;
    flex-direction: row;
}

#contacts-box {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
}

.contact-card {
    display: flex;
    width: 290px;
    height: 25px;
    margin: 1px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid black;
}

.contact-card:hover {
    background-color: black;
    color: white;
}

#chat-outer-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
}

.chat-message-from, .chat-message-to {
    display: flex;
    max-width: 60%;
    margin: 1px;
    border-radius: 8px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.chat-message-from {
    justify-content: flex-start;
    align-self: flex-start;
    background-color: lightgreen;
}

.chat-message-to {
    justify-content: flex-end;
    align-self: flex-end;
    background-color: lightblue;
}