* {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; */
    font-family: 'Times';
}

body {
  background-color: var(--color-primary);
}

:root {
    --color-primary: #ffffff;   
    --color-secondary: #ffeac8; 
    --color-ternary: #bff9df;    
    --color-quaternary: #acc9ef;      
}

/* #root {
  display: flex;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
} */



