{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Chat{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div id="messages"></div>
	<input type="text" id="messageInput" placeholder="Type a message...">
	<button onclick="sendMessage()">Send</button>
    <p id="received_messages"></p>

	<!-- Load Socket.IO Library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<script type="text/javascript">
                
		// Establish a WebSocket connection btwn browser and server
		var socket = io();

		// Listen for connection; send message when connected
		socket.on('connect', function() {
			socket.emit('connection event', {data: 'I\'m connected!'});
		});
        		
		// Send message, then reset form when message is sent
		function sendMessage() {
			var input = document.getElementById('messageInput');
			console.log("Sending message: " + input.value)
			if (input.value.trim() !== '') {
                saveMessageToDb(input.value)
				socket.emit('message', {data: input.value}, broadcast=true);
				input.value = '';
			}
		}
        
        function saveMessageToDb(msg) {
            //TODO make it grab the correct ids
            sender = 1 //current_user.userId
            receiver = 2 //contact.userId    
            console.log("Saving to DB")
            socket.emit('database', {data: { 
                        message: msg, 
                        sender: sender, 
                        receiver: receiver 
                        }
                }
            );
        }
		
		// Listen for messages from server
		socket.on('message', function(data) {
			console.log("Received message: " + data.data)
			var messages = document.getElementById('received_messages');
			messages.innerHTML += '<div>' + data.data + '</div>';
		});

	</script>

{% endblock %}
