{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Chat{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div id="messages"></div>
	<input type="text" id="messageInput" placeholder="Type a message...">
	<button onclick="sendMessage()">Send</button>

	<!-- Load Socket.IO Library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<script type="text/javascript">
                
		// Establish a WebSocket connection btwn browser and server
		var socket = io();

		// Listen for connection; send message when connected
		socket.on('connect', function() {
			socket.emit('connection event', {data: 'I\'m connected!'});
		});
        		
		// Send message, then reset form when message is sent
		function sendMessage() {
			var input = document.getElementById('messageInput');
			console.log("Sending message: " + input.value)
			if (input.value.trim() !== '') {
				socket.emit('message', {data: input.value}, broadcast=true);
				input.value = '';
			}
		}
		
		// Listen for messages from server
		socket.on('message', function(data) {
			console.log("Received message: " + data.data)
			var messages = document.getElementById('messages');
			messages.innerHTML += '<div>' + data.data + '</div>';
		});

	</script>

{% endblock %}
