.chat-container {
    background-color: var(--color-quaternary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 75vh;
}

.chat-header {
    position: sticky;
    top: 0;
}

.messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-message-from, .chat-message-to {
    display: flex;
    max-width: 40%;
    word-break: break-word; 
    margin: 5px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    font-size: 16px;
}

.chat-message-from {
    justify-content: flex-start;
    align-self: flex-start;
    background-color: white;
}

.chat-message-to {
    justify-content: flex-end;
    align-self: flex-end;
    background-color: white;
}

.input-container {
    /* padding-right: 12px; */
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--color-quaternary);
}

#input-box {
    justify-content: right;
    flex: .45;
    background-color: var(--color-secondary);
    font-size: 16px;
}